Hamster-2-0.pro.user
build-Hamster-2-0-Desktop_Qt_5_11_0_MinGW_32bit-Release
build-Hamster-2-0-Desktop_Qt_5_11_0_MinGW_32bit-Debug
build-Hamster-2-0-Desktop_Qt_5_11_0_MinGW_32bit-Profile
Hamster2
files